<div class="container row">
   <div class="col-sm-2">
      <img src="assets/images/alianza-logo-small.png" alt="alianza-logo">
      <br><br>
      <i class="far fa-user" style="color:#007bff; padding-left: 18px; margin-right: 5px; margin-bottom: 10px; font-size: 38px;"></i><span style="color:#007bff;font-size: 30px;">Clients</span>
<nav class="sidenav-1">
   <ul class="sidenav-menu">
      <li class="sidenav-item">Clients</li>
      <li>Client look history</li>
      <li>Emergency PIN configuration</li>
      <li>Emergency PIN history</li>
   </ul>
</nav>
</div>

<div id="contenido" class="col-sm-10">
   <div>
      <h3 class="title">Clients</h3>
   </div>

   <div class="form-width col div-margin">
      <button type="button" class="btn btn-primary btn-margin" (click)="open(createClientModal)">
         <i class="fa fa-plus" aria-hidden="true"></i> New
        </button> 
      
      <button type="button" class="btn btn-primary">
        <i class="fas fa-file-export"></i>Export
     </button>
      
  </div>

  <div class="form-width div-margin">
      <form class="d-flex w60">
         <input class="form-control me-2 search-bar" type="search" placeholder="Enter shared key" aria-label="Search">
         <button class="btn btn-outline-secondary btn-margin" type="submit">Search</button>
         
         <button class="btn btn-primary">Advanced Search</button>
      </form>
   </div>

   <table style="width: 100%;">
      <thead>
        <tr>
           <th class="tbl-cell">Shared Key</th>
           <th class="tbl-cell">Bussines ID</th>
           <th class="tbl-cell">E-mail</th>
           <th class="tbl-cell">Phone</th>
           <th class="tbl-cell">Data Added</th>
           <th class="tbl-cell-edit">Edit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clientList">
            <td>{{client.name}}</td>
            <td>{{client.phone}}</td>
            <td>{{client.email}}</td>
            <td>{{client.startDate}}</td>
            <td>{{client.endDate}}</td>
            <td></td>
        </tr>
    </tbody>
   </table>

   <ng-template #createClientModal>
      <div class="form-width create-form">
         <form id="createForm" class="form-horizontal" [formGroup]="createFormGroup">
            
            <div class="form-section">
               <div class="form-inline">
                  <label for="name" class="label-width">Name</label>
                  <input type="text" class="form-control" id="name" formControlName="name">
               </div>
               <div><span class="label-error"  *ngIf="createFormGroup.controls['name'].invalid">Name is required</span></div>
            </div>
            
            <div>
               <div class="form-inline form-section">
                  <label for="phone" class="label-width">Phone</label>
                  <input type="text" class="form-control" id="phone" formControlName="phone">
               </div>
               <div><span class="label-error"  *ngIf="createFormGroup.controls['phone'].invalid">Phone is required</span></div>
            </div>

            <div class="form-section">
               <div class="form-inline">
                  <label for="inputMaill" class="label-width">E-mail</label>
                  <input type="email" class="form-control" id="inputMail" formControlName="email">
               </div>
               <div><span class="label-error"  *ngIf="createFormGroup.controls['email'].invalid">Email is required</span></div>
            </div>

            <div class="form-section">
               <div class="form-inline">
                  <label for="startDate" class="label-width">Start date</label>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <input type="text" class="form-control" id="startDate" formControlName="startDate">
               </div>
               <div><span class="label-error"  *ngIf="createFormGroup.controls['startDate'].invalid">startDate is required</span></div>
            </div>

            <div class="form-section">
               <div class="form-inline">
                  <label for="endDate" class="label-width">End Date</label>
                  <i class="fa fa-calendar" aria-hidden="true"></i>
                  <input type="text" class="form-control" id="endDate" formControlName="endDate">
               </div>
               <div><span class="label-error" *ngIf="createFormGroup.controls['endDate'].invalid">endDate is required</span></div>
            </div>
            <button type="button" class="btn btn-primary" (click)="createClient()">OK</button>
         </form>
      </div>
</ng-template>

</div>
